<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Lista de Libros</h1>
    <%= link_to 'Añadir nuevo libro', new_book_path, class: 'btn btn-success' %>
  </div>

  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= link_to book.title, book_path(book) %></h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <% if book.average_rating.is_a?(Numeric) %>
                <strong>Calificacion: <%= book.average_rating %> ⭐️ </strong>
              <% else %>
                <%= book.average_rating %>
              <% end %>
            </h6>
            <p class="card-text">
              <strong><%= pluralize(book.reviews.count, 'reseña') %></strong>
            </p>
            <p class="card-text">
              <% if book.reviews.any? %>
                "<%= book.reviews.first.content.truncate(100) %>"
              <% else %>
                Aún no hay reseñas para este libro.
              <% end %>
            </p>
          </div>
          <div class="card-footer text-end">
            <%= link_to 'Ver detalles', book_path(book), class: 'btn btn-outline-info btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>